// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue',
  'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
  'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

// Temporarely -- to be deleted ----------------
$primary: #1976d2;
$bgColor: #fafbfb;
$pink: #fa71cd;
$edit: rgb(0, 174, 255);
$show: rgb(202, 17, 177);
$delete: rgb(230, 51, 51);

// colors
$color-black: #000;
$color-white: #fff;
$color-bale: #eee;
$color-light: #d4d4d4;
$color-dark: #2e384d;
$color-darker: #21252e;
$color-gray: #afafaf;
$color-bg: #f4f8f9;
$color-gray-header: #94979b;
$color-highlight: rgba(58, 132, 255, 0.05);
$color-v-list-key: #21252e;
$color-v-list-value: #a4aab8;
$color-highlight-light: #fbfbfe;
$color-accent: #f6d05a;
$color-accent-transparent: #f6cf5a99;
$color-accent-light: #d9d659;
$color-accent-focus: #e1727b99;
$color-accent-breadcrumb: #fa8d95;
$color-accent-error: #ff5252;
$color-success: #00af66;
$color-fail: #ff262a;
$color-warning: #f6d24d;
$color-blue: #3a84ff;
$color-secondary: #7a81ff;
$color-secondary-focus: #8d91e499;
$color-tertiary: #3cc8c3;
$color-badge: #17ead9;
$color-overlay: #fff5f6;
$color-booked: #91a2bc;
$color-text-dark: #606060;
$color-text-value: #f6d05a;
$color-progress-bg: #d8d8d8;
$color-disabled: #f9f9f9;
$color-header: #e0e0e050;
$color-expansion-panel-bg: #e0e0e035;
$color-close: #9e9e9e;
$color-file-upload: #00000038;

// STATUS COLORS
$color-status-delivered: #5af662;
$color-status-canceled: #ff913c;
$color-status-rejected: #f10613;
$color-status-approved: #d22be0;
$color-status-pending: #f6d05a;
$color-status-returned: #606060;
$color-status-shipping: #f10613;

$gradient-accent: linear-gradient(to top,#F6D05A, #FDE776);

$box-shadow: 0 0 30px 0 rgba(76, 147, 230, 0.1);

//fonts
$font-light: 'Font Light';
$font-regular: 'Font Regular';
$font-medium: 'Font Medium';
$font-bold: 'Font Bold';
$font-bolder: 'Font Bolder';

// Heights
$h-form-input: 64px;
$h-button-md: 3rem;
$h-table-row: 72px;
$h-table-row-mobile: 30px;

