.img-preview {
  &-overlay {
    // display: -webkit-box;
    // display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    /* flex-direction: column; */
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: center;
    min-height: 50vh;
    background-color: $color-white;
    position: relative;
  }

  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 80vh;
    // margin: 0.5rem 0 2rem;
  }

  &-img {
    object-fit: contain;
    max-height: 70vh;
    min-height: 100px !important;
    max-width: 100%;
  }

  &-close {
    color: $color-close;
    padding: 0.25rem;
    position: absolute;
    left: 0;
    &:hover {
        cursor: pointer;
    }
  }
}
