.main-header {
    &__title {
      &__back-link {
        text-decoration: none;
        color: $color-blue;
        font-family: $code-font-stack; // regular
      }
      &__header {
        text-transform: uppercase;
        margin-top: 4px;
        font-family: $code-font-stack; // bold
        line-height: 20px;
      }
    //   line-height: 17px;
      font-size: 14px;
    }
    &__contents {
      .v-btn {
        height: 2.6rem !important;
        border-radius: 3px;
        // font-size: 1rem;
        // font-family: $font-bold;
      }
    }
    padding: 1rem;
    background-color: $color-white;
  }